.ability-page {
    font-family: var(--font-jost);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ability-upper-section {
    width: 400px;
    background-color: #2B3B52;
    padding: 2em 2.2em;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.header2-ability-page {
    margin: auto;
    font-family: var(--font-jost);
    font-size: 2.3rem;
    font-weight: 500;
    color: #D2404D;
}

.ability-image-container {
    width: 250px;
    height: auto;
    padding: 1.5em 1em;
    background-color: #4E5F78;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ability-reveal-image {
    margin-top: -2em;
}

.ability-image-container>img {
    width: 150px;
    height: auto;
}

.ability-input-container {
    border: 1px solid #FEFEFE;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
}

.ability-input-container>input {
    padding: 0.8em 1em 0.8em 1em;
    border: none;
    border-radius: 4px;
    background-color: #2B3B52;
    font-family: var(--font-jost);
    font-size: 14px;
    width: 90%;
    outline: none;
    font-weight: 500;
}

.ability-input-container>input::placeholder {
    font-weight: 700;
}

.ability-input-container>button {
    background-color: #FEFEFE;
    color: #2B3B52;
    border: none;
    padding: 1em;
    width: 20%;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
}

.ability-user-guess {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    background-color: #2B3B52;
    gap: 1em;
    padding: 1em;
    border-radius: 4px;
    width: 250px;
    height: auto;
}

.ability-user-guess>img {
    width: 80px;
    height: auto;
}

.ability-user-guess>p {
    font-size: 1.2rem;
}

.ability-all-user-guesses {
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.ability-agent-suggestions-container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 0.5em;
    border: 1px solid #FEFEFE;
    border-radius: 4px;
}

.ability-agent-suggestion {
    font-family: var(--font-jost);
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #2B3B52;
    border: none;
    cursor: pointer;
    gap: 1em;
    font-size: 0.95rem;
    font-weight: 400;
}


.ability-agent-suggestion:hover {
    background-color: #4E5F78;
    border-radius: 4px;
}

.ability-agent-suggestion>img {
    width: 50px;
    height: auto;
}

.ability-change-parts {
    background-color: #2B3B52;
    border-radius: 4px;
    border: 1px solid #16AC25;
    font-family: var(--font-jost);
    padding: 1em 3em 1em 3em;
    cursor: pointer;
    margin-top: 1em;
    width: 300px;
    font-size: 1rem;
}