.agent-page{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-jost);
}

.agent-upper-section{
    width: 350px;
    height: auto;
    background-color: #2B3B52;
    padding: 2em;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.header2-agent-page{
    margin: auto;
    font-family: var(--font-jost);
    font-size: 2.3rem;
    font-weight: 500;
    color: #D2404D;
}

.hint-section{
    display: flex;
    justify-content: center;
    gap: 3em;
    margin: 1.5em 0;
    
}

.hint-button{
    background-color: #D2404D;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;;
    border: 5px solid #535963;
}

.hint{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hint > p{ 
    font-size: 14px;
}

.agent-input{
    padding: 0.8em 1em 0.8em 1em;
    border: none;
    border-radius: 4px;
    background-color: #2B3B52;
    font-family: var(--font-jost);
    font-size: 14px;
    width: 90%;
    outline: none;
    font-weight: 500;
}

.agent-input::placeholder{
    color: #535963;
    font-weight: 700;
}

.agent-submit-button{
    background-color: #FEFEFE;
    color: #2B3B52;
    border: none;
    padding: 1em;
    width: 20%;
    font-weight: 600;
    font-size: 1rem;
}

.agent-submit-button:hover{
cursor: pointer;
}

.form-section-input{
    border: 1px solid #FEFEFE;
    width: 100%;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.agent-individual-section{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.agent-individual{
    display: flex;
    gap: 1em;
    justify-content: center;
}

.agent-individual > div > img {
    width: 80px;
    height: auto;
}

.agent-input:disabled{
background-color: #525252;
color: white;
border: 1px solid #525252;
}

.agent-input:disabled::placeholder{
    color: white;
}

.agent-columns-headers{
    display: flex;
    justify-content: space-between;
    padding: 0.2em 1.5em;
    border-radius: 4px;
    margin-top: 1.5em;
    background-color: #2B3B52;
    width: 500px;
}

.agent-columns-headers > p{
    border-bottom: 2px solid white;
    width: 80px;

}