.map-section {
    font-family: var(--font-jost);
}

.userMapInput {
    padding: 0.8em 1em 0.8em 1em;
    border: none;
    border-radius: 8px;
    background-color: #2B3B52;
    font-family: var(--font-jost);
    font-size: 14px;
    width: 90%;
    outline: none;
    font-weight: 500;
}

.userMapInput::placeholder {
    font-weight: 700;
}


#userMapInput:disabled {
    background-color: grey;
    color: #FEFEFE;
}

#submitBtn {
    background-color: #FEFEFE;
    color: #2B3B52;
    border: none;
    padding: 1em;
    width: 20%;
    font-weight: 600;
    font-size: 1rem;
}

#submitBtn:hover {
    cursor: pointer;
}

#submitBtn:disabled {
    background-color: gray;
}

.input-container {
    border: 1px solid #FEFEFE;
    width: 100%;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}

.map-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}

.map-form-lower {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.user-guess {
    width: 300px;
    height: 60px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
}

.user-rightguess-popup {
    width: 500px;
    height: 250px;
    background-color: #2B3B52;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #16AC25;
}

.map-suggestions-container {
    width: 208px;
    height: auto;
    background-color: #2B3B52;
    border: 1px solid #FEFEFE;
    border-top: none;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5em;
}

.button-map-name {
    font-family: var(--font-jost);
    padding: 1em;
    background-color: #2B3B52;
    border: none;
    width: 100%;
    text-align: start;
    border-radius: 8px;
    font-size: 0.95rem;
}

.button-map-name:hover {
    background-color: #4E5F78;
}

.guess-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin-bottom: 1em;
    padding: 2em;
    background-color: #2B3B52;
    width: 450px;
    height: auto;
    border-radius: 4px;
}

.image-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    max-height: 300px;
    overflow: hidden;
    border-radius: 4px;
}

.guess-section>h2 {
    margin: auto;
    font-family: var(--font-jost);
    font-size: 2.3rem;
    font-weight: 500;
    color: #D2404D;
}

.map-input {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}