.quote-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-jost);
}

.quote-upper-section {
    width: 450px;
    height: auto;
    background-color: #2B3B52;
    padding: 2em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    gap: 2em;
}

.quote-quote-holder {
    width: 300px;
    height: auto;
    background-color: #4E5F78;
    border-radius: 4px;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote-header1 {
    font-family: var(--font-jost);
    margin: 0;
    color: #D2404D;
    font-weight: 500;
    font-size: 2rem;
}

.quote-quote-text {
    font-family: var(--font-jost);
    font-size: 1.5rem;
}

.quote-input-container {
    border: 1px solid #FEFEFE;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
}

.quote-input-container>input {
    padding: 0.8em 1em 0.8em 1em;
    border: none;
    border-radius: 4px;
    background-color: #2B3B52;
    font-family: var(--font-jost);
    font-size: 14px;
    width: 90%;
    outline: none;
    font-weight: 500;
}

.quote-input-container>input::placeholder {
    font-weight: 700;
}

.quote-input-container>button {
    background-color: #FEFEFE;
    color: #2B3B52;
    border: none;
    padding: 1em;
    width: 20%;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
}

.quote-lower-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin-top: 1em;
}

.quote-guess-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 1em;
    width: 250px;
    height: auto;
    padding: 1em;
    border-radius: 4px;
    font-family: var(--font-jost);
}

.quote-guess-container>img {
    width: 80px;
    height: auto;
}

.quote-guess-container>p {
    font-size: 1.2rem;
}

.quote-agent-suggestions {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 0.5em;
    padding: 0.5em;
    border-left: 1px solid #FEFEFE;
    border-bottom: 1px solid #FEFEFE;
    border-right: 1px solid #FEFEFE;
    border-radius: 4px;

}

.quote-agent-suggestions>button {
    font-family: var(--font-jost);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    width: 210px;
    background-color: #2B3B52;
    border: none;
    border-radius: 4px;
    transition: background-color 0.2s;
    font-size: 0.9rem;
}

.quote-agent-suggestions>button:hover {
    background-color: #4E5F78;
}

.quote-agent-suggestions>button>img {
    width: 50px;
    height: auto;
}

.quote-play-audio {
    width: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    padding: 1em;
    border: 2px solid #D2404D;
    background-color: #2B3B52;
    cursor: pointer;
    margin-top: -2em;
}

.quote-play-audio>img {
    width: 30px;
    height: auto;
    margin-left: 0.4em;
}

.quote-audio-hint-text {
    margin-top: -1.8em;
}