.skin-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skin-section {
    width: 600px;
    height: auto;
    background-color: #2B3B52;
    padding: 2em;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5em;
    font-family: var(--font-jost);
}

.skin-section>h1 {
    margin: 0;
    color: #D2404D;
    font-weight: 500;
    text-transform: uppercase;
}

.skin-page-inputs {
    border: 1px solid #FEFEFE;
    border-radius: 4px;
    display: flex;
    flex-direction: row;

}

.skin-page-inputs>input {
    font-family: var(--font-jost);
    font-size: 0.9rem;
    padding: 1em;
    font-weight: 500;
    outline: none;
    background-color: #2B3B52;
    border: none;
}

.skin-page-inputs>input::placeholder {
    font-weight: 700;
    font-family: var(--font-jost);
}

.skin-page-inputs>button {
    width: 40px;
    height: 50px;
    font-weight: 700;
    padding: 1em;
    font-size: 1rem;
    background-color: #FEFEFE;
    color: #2B3B52;
    border: none;
    cursor: pointer;
}

.skin-page-image-container {
    padding: 3em 2em;
    border: 1px solid #FEFEFE;
    border-radius: 4px;
}

.skin-page-image-container>img {
    width: 450px;
    height: auto;
}

.skin-user-guesses {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.skin-user-guess>img {
    width: 250px;
    height: auto;
}

.skin-suggestions {
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: #2B3B52;
    border-radius: 4px;
    border: 1px solid #FEFEFE;
    width: 200px;
    min-height: 50px;
    max-height: 200px;
    gap: 1em;
    overflow: auto;
}

.button-send-skin-suggestion {
    background-color: #2B3B52;
    border: none;
    display: flex;
    padding: 1em;
    flex-direction: row;
    justify-content: start;
    width: 100%;
    border-radius: 4px;
    font-family: var(--font-jost);
    font-size: 0.9rem;
    text-align: start;
}

.button-send-skin-suggestion:hover {
    background-color: #4E5F78;
}

#skin-input-text:disabled {
    background-color: gray;
}

#skin-input-text:disabled::placeholder {
    color: #FEFEFE;
}