:root {
  font-family: "NicoMoji", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("./assets/background-valdle.jpg");
  background-size: cover;


  --font-jost: "Jost";
  --green-gradiant: rgba(26, 147, 89, 0.5);
}


::-webkit-scrollbar {
  display: none;

}

@font-face {
  font-family: "NicoMoji";
  src: url("./assets/font-nico-moji/NicoMoji-Regular.ttf");
}